/* Add additional stylesheets below
-------------------------------------------------- */

/*------------------ Battleship boards -------------------*/

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    margin: 0;
    border-collapse: collapse;
    cursor: default;
    display: inline-block;
    position: relative;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

.bf {
    position: relative;
    width: 49%;
}

.bfPlayer1 {
    float: left;
}

.bfPlayer2 {
    float: right;
}

.bfGap {
    display: inline-block;
    position: relative;
    margin: 40px 0;
}

.bfPlayer1 .bfGap {
    margin-left: 130px;
    float: right;
}

.bfPlayer2 .bfGap {
    margin-right: 120px;
    float: left;
}

/*------------------ Battleship boards -------------------*/

/*------------------ Rows -------------------*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*------------------ Rows -------------------*/

/*------------------ Numbers / Letters -------------------*/
.numbers {
    width: 2%;
    float: left;
    margin: 40px 0;
}

.table {
    margin: auto;
}

.table tr {
    height: 29px;
}

.table th {
    text-align: center;
}

.letters th{
    width: 29px;
}

/*------------------ Numbers -------------------*/

/*------------------ Ship status -------------------*/

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

/*------------------ Ship status -------------------*/

/*------------------ Ship placement -------------------*/

#placement {
    vertical-align: baseline;
}

/*------------------ Ship placement -------------------*/
