/* Add additional stylesheets below
-------------------------------------------------- */

/*------------------ Battleship boards -------------------*/

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    margin: 0;
    border-collapse: collapse;
    cursor: default;
    display: inline-block;
    position: relative;
}

a:link{
    color: black;
}

a.visited{
    color: black;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

.bfs {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 769px;
}

.bf {
    position: relative;
    /*width: 29%;*/
}

.bfPlayer1 {
    float: left;
}

.bfPlayer2 {
    float: left;
}

.bfGap {
    display: inline-block;
    position: relative;
    margin: 40px 0;
}

.bfPlayer1 .bfGap {
    margin-left: 10px;
    margin-right: 0px;
    float: left;
}

.bfPlayer2 .bfGap {
    margin-right: 10px;
    margin-left: 0px;
    float: left;
}

/*------------------ Battleship boards -------------------*/

/*------------------ Rows -------------------*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*------------------ Rows -------------------*/

/*------------------ Numbers / Letters -------------------*/
.numbers {
    float: left;
    margin: 40px 30px;
}

.table {
    margin: auto;
}

.table tr {
    height: 29px;
}

.table th {
    text-align: center;
}

.letters th{
    width: 29px;
}

/*------------------ Numbers -------------------*/

/*------------------ Ship status -------------------*/

.clickable td:hover {

    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

tr td.hit {
    background-color: #d00000;
}

.cpt {
    background-color: black;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

.occupied{
    background-color: black;
 }

.not-occupied{
    background-color: grey;
}

/*------------------ Ship status -------------------*/

/*------------------ Ship placement -------------------*/

#placement, #placement2 {
    vertical-align: baseline;
}

/*------------------ Ship placement -------------------*/
#modal-back{
    background-color:rgba(0,0,0,.5);
    width:100vw;
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#modal {
    width: 400px;
    height: 250px;
    margin: auto;
    margin-top: 100px;
    background-color:rgba(250,250,250,1);
    text-align:center;
    border: red 3px solid;
}

#modal.short{
    height: 110px;
}

#modal.long{
    height: 290px;
    width:600px;
}

#modal p {
    padding-top: 25px;
    padding-bottom:10px;
}

footer {
    font-size: 10px;
    float: right;
}

/*------------------ Score/status boards -------------------*/
.scoreboard-player1 {

 float: left;
 width: 15%;
 margin: 125px 0;
}

.scoreboard-player2 {

 float: right;
 width: 15%;
 margin: 125px 0;
}

.ships-scoreboard {
border: 2px solid black;
}


.hits-and-miss-player1{
border: 2px solid black;
margin: 10px 0;
}


.hits-and-miss-player2{
border: 2px solid black;
margin: 38px 0;
}

/*------------------change log box -------------------*/

 .changelog-wrapper{
    text-align: center;
 }

 .player1-changelog{
 border: 1px solid black;
 width: 400px;
 height: 75px;
 display: inline-block;
 }

 .player2-changelog{
 border: 1px solid black;
 width: 400px;
 height: 75px;
 display: inline-block;
 }

 #help {
    position: fixed;
    top: 5px;
    left: 5px;
    border: 1px black solid;
 }

 #help span {
    margin:5px;
 }

 .exit-button, .clickable td, #help, #is_vertical{
    cursor: pointer;
 }

 /*Sonar front end CSS*/
 .hideElement{
    display: none;
 }

 .interactions {
    border: 2px solid black;
    padding: 5px;
    margin: 8px 0px 5px 0px;
 }

