/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    margin: 0;
    border-collapse: collapse;
    cursor: default;
    display: inline-block;
    position: relative;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

.bf {
    position: relative;
    width: 50%;

}

.bfPlayer1 {
    float: left;
}

.bfPlayer2 {
    float: right;
}

.bfGap {
    display: inline-block;
    position: relative;
    margin: 40px 0;
}

.bfPlayer1 .bfGap {
    margin-left: 130px;
    margin-right: 0px;
    float: right;
}

.bfPlayer2 .bfGap {
    margin-right: 120px;
    margin-left: 0px;
    float: left;
}

#placement {
    vertical-align: baseline;
}

.clickable td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

#modal-back{
    background-color:rgba(0,0,0,.5);
    width:100vw;
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#modal {
    width: 400px;
    height: 250px;
    margin: auto;
    margin-top: 100px;
    background-color:rgba(250,250,250,1);
    text-align:center;
    border: red 3px solid;
}

#modal.short{
    height: 110px;
}

#modal p {
    padding-top: 25px;
    padding-bottom:10px;
}

footer {
    font-size: 10px;
    float: right;
}