<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>Battleships for Fun</h1>

<div class="row">
    <div class="bf bfPlayer1">
        <div class="bfGap">
            <div class="bfTable">
                <table class="table letters">
                    <tr>
                        <th>
                            A
                        </th>
                        <th>
                            B
                        </th>
                        <th>
                            C
                        </th>
                        <th>
                            D
                        </th>
                        <th>
                            E
                        </th>
                        <th>
                            F
                        </th>
                        <th>
                            G
                        </th>
                        <th>
                            H
                        </th>
                        <th>
                            I
                        </th>
                        <th>
                            J
                        </th>
                    </tr>
                </table>
                <table id="player" class="battleGrid clickable">

                </table>
            </div>
        </div>
    </div>

    <div class="numbers">
            <table class="table">
                <tr>
                </tr>
                <tr>
                    <th>
                        1
                    </th>
                </tr>
                <tr>
                    <th>
                        2
                    </th>
                </tr>
                <tr>
                    <th>
                        3
                    </th>
                </tr>
                <tr>
                    <th>
                        4
                    </th>
                </tr>
                <tr>
                    <th>
                        5
                    </th>
                </tr>
                <tr>
                    <th>
                        6
                    </th>
                </tr>
                <tr>
                    <th>
                        7
                    </th>
                </tr>
                <tr>
                    <th>
                        8
                    </th>
                </tr>
                <tr>
                    <th>
                        9
                    </th>
                </tr>
                <tr>
                    <th>
                        10
                    </th>
                </tr>
            </table>
    </div>

    <div class="bf bfPlayer2">
        <div class="bfGap">
            <table class="table letters">
                <tr>
                    <th>
                        A
                    </th>
                    <th>
                        B
                    </th>
                    <th>
                        C
                    </th>
                    <th>
                        D
                    </th>
                    <th>
                        E
                    </th>
                    <th>
                        F
                    </th>
                    <th>
                        G
                    </th>
                    <th>
                        H
                    </th>
                    <th>
                        I
                    </th>
                    <th>
                        J
                    </th>
                </tr>
            </table>
            <table id="opponent" class="battleGrid">
            </table>
        </div>
    </div>
</div>


<div class="row" id="placement">
    <ul>
        <li><button id="place_minesweeper">Place Minesweeper</button></li>
        <li><button id="place_destroyer">Place Destroyer</button></li>
        <li><button id="place_battleship">Place Battleship</button></li>
        <li><input type="checkbox" id="is_vertical">Vertical</input></li>
    </ul>
</div>

<div id="modal-back"><div id="modal"></div></div>


<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>